*{margin: 0;
    padding: 0;}
   
    header{
        background-color: rgb(186, 44, 215);
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
   
    }
    
.cabecalho-lista-item{
    display: inline-block,
    margin: 0 20px;
    padding: 10px 0;
    font-size: 24px;
} 

.imagem-escola{
    width:25%;
}

.escola{
    background-image: linear-gradient(blue,blue);
}


.imagem-escola{
    width: 25%;

}

.escola{
    background-image: (blue);
    color:aliceblue;
    display: flex;
    justify-content: center;
}


.texto-escola{
    font-size: 20px;
}
.titulo-escola{
    font: size 40px;
}
.estudante{
    background-image: linear-gradient(rgb(206, 20, 20), rgb(122, 30, 30));
}

.estudante-image {
    width: 120px;
}

.estudante-icone{
    width: 20px;
}